@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color:#fbc924;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: #000000;
}

/** navbar **/

nav {
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.1rem;
}

/** main section **/

main {
    margin: auto;
    padding: 1rem;
    max-width: 700px;
}

/** button **/

button {
    background-color: var(--primary-color);
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

/** textarea **/ 

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 22vh;
    margin-top: 1.5rem;
    font-size: large;
}

/**output area**/

#output {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid black;
}


/** footer **/

footer {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
}

footer p {
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 0.5rem;
}